.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  font-size: small;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 350px;
}

label {
  text-align: left;
  padding: 0.1cm 0;
  margin: 0.1cm 0.3cm;

}

input {
  margin: 0.1cm 0.3cm;
  padding: 0.5rem;
  border-width: 1px;
  border-radius: 10px;
  color: black;
}

button {
  border: none;
  background-color: blue;
  padding: 10px;
  border-radius: 10px;


  color: white;

}

#login-btn {
  width: 80px;
  height: 30px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 2px;
  padding-top: 8px;
  cursor: pointer;
}

.link-btn {
  background: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.login-text {
  color: blue;

  font-weight: bold;
}

#profile {
  margin-right: auto;
  margin-left: 13px;
}

.register-form {
  color: gray;
  font-weight: bold;
  font-size: small;
}

#update,
#cancel {
  width: 64px;
  height: 30px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 2px;
  padding-top: 8px;
  font-weight: bold;
  cursor: pointer;
}

.profile-btn {
  display: flex;
  flex: auto;
}

.box-btn {
  display: flex;
  flex: 2;
  margin-left: auto;
}

#cancel {
  background-color: lightgray;
  color: blue;

}

#login-box {
  display: flex;
  flex: 2;

}

#check-box {
  flex: 2;
  position: relative;
  cursor: pointer;
  margin-left: 13px;
  margin-top: 8px;
}

#show-pass {
  font-weight: bold;
  color: black;
  font-size: small;
}